set timeout=0
set default=0
set gfxmode=auto
insmod png
if background_image /boot/grub/newos-splash.png; then
  true
fi
menuentry "NewOS" {
  linux /boot/bzImage quiet loglevel=3 vt.global_cursor_default=0 splash chromium_kiosk=http://127.0.0.1:8080/desktop/index.html
  initrd /boot/rootfs.cpio
}
